h1 Variance

p= @variance.created_at.strftime("%d/%m/%Y")
p= '*******'
p= 'Сейчас'
p= "id: #{@snapshot.id}"
p= @snapshot.title
p= image_tag(@snapshot.image, width: "100")
p= @snapshot.rating
p= @snapshot.reviews
p= '*******'
p= '*******'

p= 'Вчера'
p= "id: #{@snapshot_past.id}"
p= @snapshot_past.title
p= image_tag(@snapshot_past.image, width: "100")
p= @snapshot_past.rating
p= @snapshot_past.reviews
