h1 Products

p= link_to 'Update positions', positions_path, method: :post
p= link_to 'Make snapshots', snapshots_path, method: :post

.product
  =render @products

p= link_to 'Add product', new_product_path
